@model LBV6.Models.AddPhoneNumberViewModel
@{
    ViewBag.Title = "Add A Phone Number";
}

<div class="center-column">
    <div class="content-frame mt20">
        <div class="content-frame-alt-bg content-frame content-frame-short mb20">
            <a href="/">Home</a> / <a href="/manage">Your Account</a> / @ViewBag.Title
        </div>
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("add-phone-number", "manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Add a phone number</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Number, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/_shared")
}
