@model LBV6.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Your Password?";
    ViewBag.ShowAuthControls = false;
}

<div class="center-column">
    <div class="content-frame mt20">
        <h2 class="pb10">@ViewBag.Title</h2>
        <div class="mb40">
            If you've forgotten your password, you can reset it here.
            Enter the e-mail address you used to register with LB and we'll send you a link with information in on how to reset your password.
        </div>

        @using (Html.BeginForm("forgot-password", "account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-danger btn-lg" value="Email reset link" />
                </div>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
