<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - LB Admin</title>
    @Styles.Render("~/content/admincss")
    @Styles.Render("~/content/adminless")
    @Scripts.Render("~/bundles/head")
</head>
<body>
    <div class="container body-content">
        <h1>LB Admin</h1>
        <div class="mt10 mb30">
            <a href="/admin/structure">structure</a> &nbsp;&nbsp;&#8226;&nbsp;&nbsp;
            <a href="/admin/users">users</a>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.UtcNow.Year - Tetron Limited, all rights reserved. | <a href="/">Back to LB</a></p>
        </footer>
    </div>

    <script src="//code.jquery.com/jquery-3.1.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="/scripts/jquery-3.1.1.min.js">\x3C/script>')</script>
    @Scripts.Render("~/bundles/common")
    <script src="/signalr/hubs"></script>
    
    <script language="javascript">
        @RenderSection("script", false)
    </script>

    @Scripts.Render("~/bundles/adminjs")
    @RenderSection("scripts", false)
</body>
</html>